*{
    margin: 0;
    padding: 0;
    /* background-color:#FCF9BE; */
}
.blogTitle{
    color: #94bbe9;
    font-size: 100px;
}

.btngrp{
    border: none;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-evenly;
  }

  .tab button {
   
    
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 400;
  }  
  .product-card {
    -webkit-box-shadow: 4px 3px 13px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 13px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 3px 13px -6px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 300px;
  
}

.product-image{
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

#product-list-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
.detail-section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 40px;
}

.detail-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    max-width: 400px;

}
.product-cards {
    -webkit-box-shadow: 4px 3px 13px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 13px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 3px 13px -6px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 300px;
  
}
.product-images{
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

#product-list-containers {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
   
}

